html,
body {
  padding: 0;
  margin: 0;
  font-family: "Intern", sans-serif;
 background: #ffdead;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000000;
    background: #ffdead;
  }
}
