.pageRoot {
  padding: 41px 21px;
}
.header {
  font-size: 24px;
  font-weight: 500;
}
.createTaskContainer {
  float: right;
}
.createTaskBtn {
  background: #ffffff;
  display: flex;
  gap: 18px;
  align-items: center;
  border-radius: 50px;
  min-width: 180px;
  padding: 0px 17px;
  box-shadow: 4px 4px 4px #000000;
}
.createTask {
  font-size: 20px;
  font-weight: 200;
}
.todoWrapperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whiteCard {
  background: #ffffff;
  min-width: 380px;
  margin-top: 45px;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 45px;
  border-radius: 10px;
  padding: 27px 22px;
}
.greyCard {
  min-width: 336px;
  padding: 10px 20px;
  background: #faf9f6;
  height: 100vh;
}
.todoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.otherTask {
  display: none;
}
.sideBarContainer{
  display: none;
}
/* Media query for tablets and larger devices */
@media only screen and (min-width: 768px) {
  .whiteCard {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header{
    font-size: 32px;
  }
  .pendingCard {
    background: #fff6eb;
    min-width: 336px;
    padding: 10px 20px;
    height: 100vh;
  }
  .doneCard {
    background: #fdf0ec;
    min-width: 336px;
    padding: 10px 20px;
    height: 100vh;
  }
  .otherTask {
    display: inline-flex;
    gap: 32px;
  }
  .dashboardContainer {
    display: flex;
  }
  .sideBarContainer{
    display: inline;
  }
  .dropDownIcon{
    display: none;
  }
}
