.pageRoot {
  padding: 41px 21px;
}
.header {
  font-size: 24px;
  font-weight: 500;
}
.createTaskContainer {
  float: right;
}
.createTaskBtn {
  background: #ffffff;
  display: flex;
  gap: 18px;
  align-items: center;
  border-radius: 50px;
  min-width: 180px;
  padding: 0px 17px;
  box-shadow: 4px 4px 4px #000000;
}
.createTask {
  font-size: 20px;
  font-weight: 200;
}
.todoWrapperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whiteCard {
  background: #ffffff;
  min-width: 380px;
  margin-top: 45px;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 45px;
  border-radius: 10px;
  padding: 27px 22px;
}
.greyCard {
  min-width: 336px;
  padding: 10px 20px;
  background: #faf9f6;
}
.todoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-y: scroll; /* Add vertical scrollbar */
  position: relative; /* Needed for sticky header */
}
