.pageRoot {
  background: #000000;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  
}
.header {
  color: #ffffff;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 4em;
}
.navItemContainer {
 padding-left: 2em;
}
.navItemContainerRoot {
  display: flex;
  align-items: center;
  gap: 30px;
}
.iconTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
}
