.taskCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskCardContainer {
  background: #ffffff;
  padding: 12px;
  margin-top: 12px;
}
.userName {
  font-size: 16px;
  font-weight: 700;
}
.description {
  font-size: 18px;
  font-weight: 500;
}
.dueDate {
  font-size: 15px;
  color: #e46538;
  font-weight: 600;
}
.dateRaisedText {
  color: #828282;
  font-size: 15px;
  font-weight: 600;
}
.moreCardContainer {
  background: #e46538;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  z-index: 80;
  right: 30px;
}
.dateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.dueDateWrap {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media only screen and (min-width: 768px) {
  .dateContainer{
    display: flex;
  }
}
