.taskCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskCardContainer{
    background: #FFFFFF;
    padding: 12px;
}
.userName{
    font-size: 16px;
    font-weight: 700;
}
.dueDate{
    font-size: 14px;
    color: #E46538;
    font-weight: 500;
}
