.taskCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskCardContainer {
  background: #ffffff;
  padding: 12px;
}
.userName {
  font-size: 16px;
  font-weight: 700;
}
.dueDate {
  font-size: 14px;
  color: #e46538;
  font-weight: 500;
}
.moreCardContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
